@page
@model AzureContinuousIntegration.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment Slots";
}

<div class="text-center">
    <h1 class="display-4">Deployment Slots</h1>
    <h2>Validating Deployment in Staging</h2>
</div>
